* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
    /* height: 200vh; */
}

.icon-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #303030;
    color: #fff;
    padding: 5px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    flex-wrap: wrap;
    flex-direction: column;
}

.icon-logo img {
    width: 60px;
    height: 60px;
    margin-right: 1rem;
}

.icon-logo h1 {
    font-size: 18px;
    /* font-family: cursive; */
    margin: 0;
}

body {
    font-size: 16px;
    line-height: 1.5;
    height: 2000vh;
    background: linear-gradient(to right, #bd7bda, #393690);
}

header {
    background-color: #000000;
    color: #fff;
    padding: 20px;
    margin: 10px;
    border-radius: 20px;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav ul li a {
    text-decoration: none;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
}

nav ul li a:hover {
    /* text-decoration: underline; */
    border-bottom: 2px solid rgb(238, 0, 0);
    border-bottom-width: 3px;
    color: #ff0000;
}

/* FOR CONTAINER */
.contact-text {
    text-align: center;
}

.text {
    display: inline-block;
    margin: 20px;
    font-size: 35px;
    /* background-color: rgb(255 233 221); */
    padding: 10px 1.5em;
    box-shadow: inset 7px 3px 20px rgb(38 40 43 / 68%);
    border-radius: 10px;
    text-shadow: 5px 4px 4px rgb(15 0 0 / 50%);
    color: white;
}

.box-area {
    border: 2px solid red;
    height: 50vh;
    position: absolute;
    top: 50vh;
    left: 20vh;
    right: 20vh;
}

.profile-image {
    border-radius: 50%;
    max-width: 80%;
    max-height: 80%;
    padding: 60px;
    margin: 0px;
    position: absolute;
    top: 30px;
}

.location-icon {
    /* border: 2px solid red; */
    position: absolute;
    top: 11vh;
    left: 36vh;
    height: 47px;
    width: 47px;
}

.whatsapp-icon {
    /* border: 2px solid red; */
    position: absolute;
    top: 23vh;
    left: 37vh;
    height: 40px;
}

.phone-icon {
    /* border: 2px solid red; */
    position: absolute;
    top: 35vh;
    left: 37vh;
    height: 40px;
}

.location-text {
    /* border: 2px solid red; */
    display: inline-block;
    position: absolute;
    top: 12vh;
    left: 43vh;
    color: white;
    text-decoration: none;
}

.whatsapp-text {
    /* border: 2px solid red; */
    display: inline-block;
    position: absolute;
    top: 24vh;
    left: 45vh;
    color:white;
    text-decoration: none;
}

.phone-text {
    /* border: 2px solid red; */
    display: inline-block;
    position: absolute;
    top: 36vh;
    left: 45vh;
    color: white;
    text-decoration: none;
}





@media only screen and (max-width: 1000px) {
    .box-area {
        left: 5vh;
        right: 5vh;
    }

    .profile-image {
        padding: 64px;
        position: absolute;
        top: 50px;
        bottom: 50px;
        left: -45px;
    }

    .location-icon {
        top: 10vh;
        left: 16vh;
    }

    .whatsapp-icon {
        top: 20vh;
        left: 17vh;
    }

    .phone-icon {
        top: 30vh;
        left: 17vh;
    }

    .location-text {
        top: 7vh;
        left: 22vh;
    }

    .whatsapp-text {
        top: 21vh;
    left: 25vh;
    }

    .phone-text {
        top: 29vh;
    left: 24vh;
    }
}